/* line 2, ../sass/base/_extends.scss */
.clearfix:before, .clearfix:after {
  clear: both;
  content: '';
}
/* line 7, ../sass/base/_extends.scss */
.clearfix:after {
  display: table;
  overflow: hidden;
}

@font-face {
  font-family: 'PTSans-Bold';
  src: url("..//..//fonts/PTSans-Bold.eot?#iefix") format("embedded-opentype"), url("..//..//fonts/PTSans-Bold.woff") format("woff"), url("..//..//fonts/PTSans-Bold.ttf") format("truetype"), url("..//..//fonts/PTSans-Bold.svg#PTSans-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PTSans-Regular';
  src: url("..//..//fonts/PTSans-Regular.eot?#iefix") format("embedded-opentype"), url("..//..//fonts/PTSans-Regular.woff") format("woff"), url("..//..//fonts/PTSans-Regular.ttf") format("truetype"), url("..//..//fonts/PTSans-Regular.svg#PTSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue-Bold';
  src: url("..//..//fonts/HelveticaNeue-Bold.eot?#iefix") format("embedded-opentype"), url("..//..//fonts/HelveticaNeue-Bold.woff") format("woff"), url("..//..//fonts/HelveticaNeue-Bold.ttf") format("truetype"), url("..//..//fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url("..//..//fonts//icomoon//fonts/icomoon.eot?2inbi0");
  src: url("..//..//fonts//icomoon//fonts/icomoon.eot?2inbi0#iefix") format("embedded-opentype"), url("..//..//fonts//icomoon//fonts/icomoon.ttf?2inbi0") format("truetype"), url("..//..//fonts//icomoon//fonts/icomoon.woff?2inbi0") format("woff"), url("..//..//fonts//icomoon//fonts/icomoon.svg?2inbi0#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?awm4o3");
  src: url("fonts/icomoon.eot?awm4o3#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?awm4o3") format("truetype"), url("fonts/icomoon.woff?awm4o3") format("woff"), url("fonts/icomoon.svg?awm4o3#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 12, ../sass/base/_moon.scss */
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 27, ../sass/base/_moon.scss */
.icon-facebook:before {
  content: "\e901";
}

/* line 30, ../sass/base/_moon.scss */
.icon-social:before {
  content: "\e901";
}

/* line 33, ../sass/base/_moon.scss */
.icon-bookmark:before {
  content: "\e902";
}

/* line 36, ../sass/base/_moon.scss */
.icon-fingerprint:before {
  content: "\e903";
}

/* line 39, ../sass/base/_moon.scss */
.icon-pinterest:before {
  content: "\e907";
}

/* line 42, ../sass/base/_moon.scss */
.icon-google:before {
  content: "\e900";
}

/* line 45, ../sass/base/_moon.scss */
.icon-mobile2:before {
  content: "\e959";
}

/* line 48, ../sass/base/_moon.scss */
.icon-twitter:before {
  content: "\ea96";
}

/* line 51, ../sass/base/_moon.scss */
.icon-appleinc:before {
  content: "\eabe";
}

/* line 54, ../sass/base/_moon.scss */
.icon-android:before {
  content: "\eac0";
}

/* line 57, ../sass/base/_moon.scss */
.icon-windows8:before {
  content: "\eac2";
}

/* line 60, ../sass/base/_moon.scss */
.icon-lemon-o:before {
  content: "\e906";
}

/* line 63, ../sass/base/_moon.scss */
.icon-envelope-o:before {
  content: "\e908";
}

/* line 66, ../sass/base/_moon.scss */
.icon-code:before {
  content: "\e905";
}

/* line 69, ../sass/base/_moon.scss */
.icon-folder-o:before {
  content: "\e904";
}

/* line 1, ../sass/base/_reset.scss */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  outline: 0 none;
  padding: 0;
  vertical-align: baseline;
}

/* line 91, ../sass/base/_reset.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 97, ../sass/base/_reset.scss */
ol,
ul {
  list-style: none;
}

/* line 102, ../sass/base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 107, ../sass/base/_reset.scss */
caption,
th,
td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
}

/* line 115, ../sass/base/_reset.scss */
q,
blockquote {
  quotes: none;
}

/* line 120, ../sass/base/_reset.scss */
q::before,
q::after,
blockquote::before,
blockquote::after {
  content: none;
}

/* line 127, ../sass/base/_reset.scss */
a img {
  border: 0;
}

/* line 131, ../sass/base/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  display: block;
}

/* line 147, ../sass/base/_reset.scss */
img {
  font-size: 0;
  height: auto;
}

/* line 152, ../sass/base/_reset.scss */
img,
object,
embed {
  max-width: 100%;
}

/* line 1, ../sass/body/_footer.scss */
footer {
  background-color: #010101;
}

/* line 4, ../sass/body/_footer.scss */
.footer_title {
  text-align: center;
  padding: 5.4375rem 6.3125rem 5rem;
}
/* line 7, ../sass/body/_footer.scss */
.footer_title h1 {
  color: #fcdb00;
}
/* line 10, ../sass/body/_footer.scss */
.footer_title p {
  font-size: 1.25rem;
  color: #898989;
  margin-top: 0.625rem;
  line-height: 1.2;
}

/* line 17, ../sass/body/_footer.scss */
.em_submit {
  margin-top: 2.5rem;
}
/* line 19, ../sass/body/_footer.scss */
.em_submit input[type="email"] {
  font-family: 'PTSans-Regular';
  font-size: 1rem;
  padding: 0.9375rem 0 0.875rem 1.3125rem;
  width: 75%;
  border: none;
  border-radius: 0.3125rem;
}
/* line 27, ../sass/body/_footer.scss */
.em_submit input[type="submit"] {
  font-family: 'PTSans-Bold';
  font-size: 1rem;
  width: 17%;
  margin: 0 0.1875rem 0 1.125rem;
  padding: 1rem 0 0.9375rem;
  border: none;
  border-radius: 0.3125rem;
  background: #fcdb00;
}

/* line 39, ../sass/body/_footer.scss */
.socials {
  text-align: center;
  margin-left: -3.3125rem;
}
/* line 42, ../sass/body/_footer.scss */
.socials :before {
  font-size: 2rem;
  display: block;
  padding: 0;
  background-color: #fcdb00;
  margin: 0 1rem;
  border-radius: 0.1875rem;
}
/* line 50, ../sass/body/_footer.scss */
.socials .icon-facebook:before {
  background-color: #010101;
  color: #fcdb00;
}
/* line 54, ../sass/body/_footer.scss */
.socials li {
  display: inline-block;
}

/* line 59, ../sass/body/_footer.scss */
.footer_menu {
  padding: 8.125rem 5.5625rem 9.0625rem 0.8125rem;
  display: flex;
  justify-content: space-between;
}
/* line 63, ../sass/body/_footer.scss */
.footer_menu ul:first-of-type {
  flex-grow: 0.05;
}
/* line 66, ../sass/body/_footer.scss */
.footer_menu li, .footer_menu a {
  color: #fff;
}

/* line 1, ../sass/body/_main.scss */
main {
  background-color: #fff;
}

/* line 4, ../sass/body/_main.scss */
.tinyone_title {
  margin: 6.75rem 5.3125rem 5.25rem;
  text-align: center;
}
/* line 7, ../sass/body/_main.scss */
.tinyone_title h1 {
  color: #010101;
  margin-bottom: 0.6875rem;
}
/* line 11, ../sass/body/_main.scss */
.tinyone_title p {
  font-size: 1.25rem;
  color: #313841;
  letter-spacing: -0.00688rem;
  word-spacing: 0.03125rem;
  line-height: 1.2;
}

/* line 20, ../sass/body/_main.scss */
.all_subjects_wraper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 0 0.5rem 5.1875rem;
}

/* line 27, ../sass/body/_main.scss */
.subject_wraper {
  width: 31%;
  margin-bottom: 5.0625rem;
  float: left;
  display: flex;
  max-height: 117px;
  overflow: hidden;
}
/* line 34, ../sass/body/_main.scss */
.subject_wraper .subject_icon:before {
  font-family: 'icomoon';
  font-size: 3.125rem;
  margin-right: 0.4375rem;
}
/* line 40, ../sass/body/_main.scss */
.subject_wraper .subject_description {
  padding-left: 1rem;
}
/* line 42, ../sass/body/_main.scss */
.subject_wraper .subject_description a {
  font-family: 'PTSans-Bold';
  font-size: 1.375rem;
}
/* line 46, ../sass/body/_main.scss */
.subject_wraper .subject_description p {
  color: #898989;
  margin-top: 0.5625rem;
}

/* line 1, ../sass/_style_main.scss */
html {
  font-size: 16px;
  font-family: 'PTSans-Regular';
}

/* line 5, ../sass/_style_main.scss */
h1 {
  font-family: 'PTSans-Bold';
  font-size: 2rem;
}

/* line 9, ../sass/_style_main.scss */
h2 {
  font-size: 1.375rem;
}

/* line 12, ../sass/_style_main.scss */
.container {
  width: 940px;
  margin: auto;
}

/* line 19, ../sass/_style_main.scss */
a {
  text-decoration: none;
  color: #000;
}
