html {
  font-size: $base-font-size;
  font-family: 'PTSans-Regular';
}
h1 {
  font-family: 'PTSans-Bold';
  font-size: rem(32px);
  color: #010101;
  margin-bottom: rem(11px);
}
h2 {
  font-size: rem(22px);
}
.container {
  width: 940px;
  margin: auto;
}
.clearfix {
  @extend %clearfix;
}
a {
  text-decoration: none;
  color: #000;
}