html {
  font-size: $base-font-size;
  font-family: 'PTSans-Regular';
}
h1 {
  font-family: 'PTSans-Bold';
  font-size: rem(32px);
}
h2 {
  font-size: rem(22px);
}
.clearfix {
  @extend %clearfix;
}
a {
  text-decoration: none;
  color: #000;
}
@media (min-width: 1200px) {
  /* line 10, ../sass/base/bootstrap/_grid.scss */
  .container {
    width: 992px;
  }
}