footer {
  background-color: #010101;
}
.footer_title {
  text-align: center;
  padding: rem(87px 101px 80px);
  & h1 {
    color: #fcdb00;
  }
  & p {
    font-size: rem(20px);
    color: #898989;
    margin-top: rem(10px);
    line-height: 1.2;
  }
}
.em_submit {
  margin-top: rem(40px);
  input[type="email"] {
    font-family: 'PTSans-Regular';
    font-size: rem(16px);
    padding: rem(15px) 0 rem(14px 21px);
    width: 75%;
    border: none;
    border-radius: rem(5px);
  }
  input[type="submit"] {
    font-family: 'PTSans-Bold';
    font-size: rem(16px);
    width: 17%;
    margin: 0 rem(3px) 0 rem(18px);
    padding: rem(16px) 0 rem(15px);
    border: none;
    border-radius: rem(5px);
    background: #fcdb00;
  }
}

.socials {
  text-align: center;
  margin-left: rem(-53px);
  & :before {
    font-size: rem(32px);
    display: block;
    padding: 0;
    background-color: #fcdb00;
    margin: 0 rem(16px);
    border-radius: rem(3px);
  }
  & .icon-facebook:before {
    background-color: #010101;
    color: #fcdb00;
  }
  li {
    display: inline-block;
  }
}

.footer_menu {
  padding: rem(130px 89px 145px 13px);
  display: flex;
  justify-content: space-between;
  ul:first-of-type {
    flex-grow: 0.05;
  }
  li, a {
    color: #fff;
  }
}