main {
  background-color: #fff;
}
.tinyone_title {
  padding: rem(114px 85px 83px);
  text-align: center;
  h1 {
    color: #010101;
    margin-bottom: rem(13px);
  }
  p {
  font-size: rem(20px);
  color: #313841;
  letter-spacing: rem(-0.11px);
  word-spacing: rem(0.5px);
  line-height: 1.2;
  }
}

.all_subjects_wraper {
  padding: 0 0 rem(82px);
}
.subject_wraper {
  margin-bottom: rem(81px);
  padding-left: rem(17px);
  float: left;
  overflow: hidden;
  .subject_icon {
    float: left;    
  }
  .subject_icon:before {
    font-family: 'icomoon';
    font-size: rem(50px);
  }

  .subject_description {
    padding-left: rem(74px);
    a {
      font-family: 'PTSans-Bold';
      font-size: rem(22px);
    }
    p {
      color: #898989;
      margin-top: rem(7px);
      line-height: 1.25;
    }
  }
}