main {
  background-color: #fff;
}
.tinyone_title {
  margin: rem(108px 85px 84px);
  text-align: center;
  & h1 {
    color: #010101;
    margin-bottom: rem(11px);
  }
  & p {
  font-size: rem(20px);
  color: #313841;
  letter-spacing: rem(-0.11px);
  word-spacing: rem(0.5px);
  line-height: 1.2;
  }
}

.all_subjects_wraper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 0 rem(8px) rem(83px);
}
.subject_wraper {
  width: 31%;
  margin-bottom: rem(81px);
  float: left;
  display: flex;
  max-height: 117px;
  overflow: hidden;
  & .subject_icon:before {
    font-family: 'icomoon';
    font-size: rem(50px);
    margin-right: rem(7px);
  }

  & .subject_description {
    padding-left: rem(16px);
    & a {
      font-family: 'PTSans-Bold';
      font-size: rem(22px);
    }
    & p {
      color: #898989;
      margin-top: rem(9px);
    }
  }
}