main {
  background-color: #fff;
}
.tinyone_title {
  padding: rem(20px);
  text-align: center;
  & h1 {
  font-family: 'PTSans-Bold';
  font-size: 2rem;
  color: #010101;
  margin: 6.8rem 0 0.6rem;
  }
  & p {
  font-family: 'PTSans-Regular';
  font-size: 1.2rem;
  color: #313841;
  letter-spacing: 0.02rem;
  }
}