@font-face {
  font-family: 'PTSans-Bold';
  src: url('..//..//fonts/PTSans-Bold.eot?#iefix') format('embedded-opentype'),  
    url('..//..//fonts/PTSans-Bold.woff') format('woff'), 
    url('..//..//fonts/PTSans-Bold.ttf')  format('truetype'), 
    url('..//..//fonts/PTSans-Bold.svg#PTSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans-Regular';
  src: url('..//..//fonts/PTSans-Regular.eot?#iefix') format('embedded-opentype'),  
    url('..//..//fonts/PTSans-Regular.woff') format('woff'), 
    url('..//..//fonts/PTSans-Regular.ttf')  format('truetype'), 
    url('..//..//fonts/PTSans-Regular.svg#PTSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue-Bold';
  src: url('..//..//fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),  
    url('..//..//fonts/HelveticaNeue-Bold.woff') format('woff'), 
    url('..//..//fonts/HelveticaNeue-Bold.ttf')  format('truetype'), 
    url('..//..//fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('..//..//fonts//icomoon//fonts/icomoon.eot?2inbi0');
  src:  url('..//..//fonts//icomoon//fonts/icomoon.eot?2inbi0#iefix') format('embedded-opentype'),
    url('..//..//fonts//icomoon//fonts/icomoon.ttf?2inbi0') format('truetype'),
    url('..//..//fonts//icomoon//fonts/icomoon.woff?2inbi0') format('woff'),
    url('..//..//fonts//icomoon//fonts/icomoon.svg?2inbi0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}